In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
from notebook_utils import load_results, plot_results, load_all_results, load_results_for_one_checkpoint

In [3]:
%%time
results = load_all_results()

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 10854/10854 [04:23<00:00, 41.23it/s]

CPU times: user 3min 22s, sys: 3.93 s, total: 3min 26s
Wall time: 4min 23s

In [11]:
from glob import glob
results_mbert = load_results_for_one_checkpoint("finetune/bert-base-multilingual-cased", "bert-base-multilingual-cased", 0)

In [12]:
all_results = results+results_mbert

In [13]:
import pandas as pd

In [14]:
df = pd.DataFrame(all_results)

In [15]:
average_df = df[df.lang == "cs-uk"]
average_df = average_df.drop(columns="lang").groupby(["experiment_name", "step"]).mean().reset_index()
best_steps = average_df.loc[average_df.groupby('experiment_name').aer.idxmin()]
best_steps

,experiment_name,step,aer,precision,recall,f1
0,bert-base-multilingual-cased,0,0.125252,0.855440,0.897458,0.875945
23,mbert_full8M_1epoch,16000,0.094378,0.895833,0.916740,0.906166
104,mbert_full8M_1epoch_finegrained_bs16,5200,0.095373,0.888889,0.922875,0.905563
158,mbert_multilingual_1M-per-lang,4000,0.092721,0.893778,0.922875,0.908094
905,mbert_multilingual_1M-per-lang_only_tlm,333000,0.106011,0.880394,0.909728,0.894821
912,mbert_multilingual_1M-per-lang_only_tlm_add_so,1200,0.089910,0.899013,0.922875,0.910788
1037,mbert_multilingual_1M-per-lang_only_tlm_add_so...,6200,0.088871,0.899390,0.924628,0.911834
1149,mbert_multilingual_1M-per-lang_only_tlm_add_so...,8600,0.088211,0.899166,0.926380,0.912570

In [16]:
allowed = list(best_steps[["experiment_name", "step"]].apply(tuple, axis=1))
condition = df[['experiment_name', 'step']].apply(tuple, axis=1).isin(allowed)
p = df[condition].pivot(index=("experiment_name", "step"), columns="lang", values="aer")*100
p.style.highlight_min(color='lightgreen', axis = 0).format('{:.1f}')